<!DOCTYPE html>
<html>
<head>
    <title>Create Listing</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    {% include "navigation_bar.html" %}

    <h1>Create a Listing</h1>

    <form action="/listings/new" method="POST" class="form-card">

        <label for="title">Title</label>
        <input 
            type="text" 
            id="title" 
            name="title"
        >

        <label for="description">Description</label>
        <textarea 
            id="description" 
            name="description">
        </textarea>

        <label for="price">Price per night</label>
        <input 
            type="number" 
            id="price" 
            name="price"
            min="1"
            required
        >

        <label for="available_from">Available from:</label>
        <input 
            type="date" 
            id="available_from" 
            name="available_from"
            min="1"
            required
        >

        <label for="available_until">Available until:</label>
        <input 
            type="date" 
            id="available_until" 
            name="available_until"
            min="1"
            required
        >
        
        <button type="submit">Create Listing</button>

    </form>

</body>
</html>