<!DOCTYPE html> 
<html> 
    <head> 
        <title>Create Listing</title> 
        <link rel="stylesheet" href="static/style.css"> 
    </head> 
    <body>
        {% include "navigation_bar.html" %} <!-- Adds navigation bar -->
        <h2> Create a Listing </h2> <!-- Header -->
        <h3> This is a Create Listings page <br> 
            currently functioning as a placeholder, <br>
            while our hard-working team set everything up. <br> <br>
            Watch this space!
        </h3>
    </body>
</html>