<!DOCTYPE html> 
<html> 
    <head> 
        <title>Welcome to MakersBnB</title> 
        <link rel="stylesheet" href="static/style.css"> 
    </head> 
    <body>
        <header class="hero-header">
            <h1 class="hero-title">Welcome to MakersBnB</h1>
            <p class="hero-subtitle">Make yourself at our homes</p>
        </header>
        {% include "navigation_bar.html" %} <!-- Adds navigation bar -->
        <h2> Our Top Listings </h2>
        <section class="listings-container">
            {% for (listing, email) in listings [:4] %}
                <a href="/listings/{{ listing.id }}" class="listing-link">
                    <article class="listing-card">
                        <div class="image-container">
                            <img 
                                src="{{ url_for('static', filename='thumbnails/' + listing.thumbnail) if listing.thumbnail else '/static/placeholder.png' }}"
                                alt="{{ listing.title }}"
                                class="listing-image"
                            >
                        </div>
                        <div class="listing-details">
                            <h3>{{ listing.title }}</h3>

                            <p>{{ listing.description }}</p>

                            <p class="price">
                                £{{ listing.price_per_night }} per night
                            </p>

                            <p class="email">
                                Contact: {{ email }}
                            </p>
                        </div>
                    </article>
                </a>
            {% endfor %}
    </body>
</html>

<!-- Optional logo
    <div class="logo">
        <img src="static/logo.png" alt="MakersBnB logo">
    </div>
-->
