<!DOCTYPE html> 
<html> 
    <head> 
        <title>Welcome to MakersBnB</title> 
        <link rel="stylesheet" href="static/style.css"> 
    </head> 
    <body>
        {% include "navigation_bar.html" %} <!-- Adds navigation bar -->
        <h2> Listings </h2>
        <section class="listings-container">
            {% for (listing, email) in listings %}
                <article class="listing-card">
                    <div class="image-container">
                        <img 
                            src="/static/placeholder.png" 
                            alt="{{ listing.title }}"
                            class="listing-image"
                        >
                    </div>
                    <div class="listing-details">
                        <h3>{{ listing.title }}</h3>

                        <p>{{ listing.description }}</p>

                        <p class="price">
                            £{{ listing.price_per_night }} per night
                        </p>

                        <p class="email">
                            Contact: {{ email }}
                        </p>
                    </div>
                </article>
            {% endfor %}
    </body>
</html>

<!-- Optional logo
    <div class="logo">
        <img src="static/logo.png" alt="MakersBnB logo">
    </div>
-->
