<!DOCTYPE html>
<html>
    <head>
        <title>Add a listing</title>
        <link rel="stylesheet" href="static/style.css"> 
    </head>
        <section>
            <h3>Add new listing:</h3>
            <form method="POST" action="/listings">
                <input type="text" name="owner_id" placeholder="Owner"><br>
                <input type="text" name="title" placeholder="Title"><br>
                <input type="text" name="price" placeholder="Price"><br>
                <input type="text" name="id" placeholder="id"><br>
                <input type="submit" value="Submit">
            </form>	
        </section>
    </body>

</html> 