<!DOCTYPE html> 
<html> 
    <head> 
        <title>Listings</title> 
        <link rel="stylesheet" href="static/style.css"> 
    </head> 
    <body>
        {% include "navigation_bar.html" %} <!-- Adds navigation bar -->
        <h2> Listings </h2> <!-- Header -->
            <p> 
                This is a Listings page, <br> 
                currently functioning as a placeholder, <br>
                while our hard-working team set everything up. <br> <br>
                Watch this space!
            </p>

            
        {% for listing in listings %}
            <div class="listing-card">
                <h3>{{ listing.title }}</h3>
                <p>${{ listing.price_per_night }} / night</p>
                
                <a href="/listings/{{ listing.id }}">View Details</a>
            </div>
        {% endfor %}
    
    </body>
</html>