
<!DOCTYPE html>
<html>
    <head>
        <title>{{ listing.title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='flash_styles.css') }}">
    </head>
    <body>
    {% include "navigation_bar.html" %}
        <main class="property-page">
            <h1>{{ listing.title }}</h1>
                {% if session.get('user_id') == listing.owner_id %}
                    <div class="owner-controls-card">
                        <p class="owner-badge">You are the owner of this listing</p>
                        <a href="/listings/{{ listing.id }}/edit" class="btn-owner-edit">
                        Edit Listing & Add Photos
                        </a>
                    </div>
                {% endif %}

                <section class="image-gallery">
                    <img
                        src="{{ url_for('static', filename='thumbnails/' + listing.thumbnail) if listing.thumbnail else '/static/placeholder.png' }}"
                        alt="{{ listing.title }}"
                        class="hero-image"
                    >
                <div class="thumbnail-gallery">
                    {% if gallery_images %}
                        {% for img in gallery_images %}
                        <!-- We use your uploaded database URLs directly! -->
                            <img src="{{ img.image_url }}" alt="Gallery Image">
                        {% endfor %}
                    {% else %}
                    <!-- Optional: Keep 1 or 2 placeholders if they have no other photos -->
                        <img src="/static/placeholder.png" alt="">
                    {% endif %}
                </div>
            </section>

            <section class="property-details">
                <h2>£{{ listing.price_per_night }} per night</h2>
                <p>
                    <strong>Host:</strong>
                    {{ owner_email }}
                </p>
                <h3>About this property</h3>
                <p>{{ listing.description }}</p>
            </section>
            <!--
            <section class="booking-card">
                <p>
                    "To book, contact: {{ email }}"
                </p>
            </section>
            -->
            <section class="booking-card">
                {% include "calendar.html" %}
            </section>
        </main>
    </body>
</html>