<!DOCTYPE html> 
<html> 
    <head> 
        <title>Users</title> 
        <link rel="stylesheet" href="static/style.css"> 
    </head> 
    <body>
        {% include "navigation_bar.html" %} <!-- Adds navigation bar -->
        <h2> Users </h2> <!-- Header -->
        <h3> This is a Users page <br> 
            currently functioning as a placeholder. <br>
            I am not sure what is meant to be here, 
            but you can guarantee that our hard-working team will get it sorted. <br> <br>
            Watch this space!
        </h3>
    </body>
</html>